In [8]:
import duckdb

# Connect to (or create) your database
con = duckdb.connect("instacart.duckdb")

# Load products CSV into a table
con.execute("""
    CREATE OR REPLACE TABLE products AS
    SELECT * FROM read_csv_auto('products.csv');
""")

# Run query and store result as DataFrame
result_df = con.execute("""
    SELECT *
    FROM products
    LIMIT 100;
""").fetchdf()

# Show the top rows
result_df.head()
print("~~~~~~~~~~")
result_df.info()
print("~~~~~~~~~~")
result_df.describe()

~~~~~~~~~~
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     100 non-null    int64
 1   product_name   100 non-null    object
 2   aisle_id       100 non-null    int64
 3   department_id  100 non-null    int64
dtypes: int64(3), object(1)
memory usage: 3.3+ KB
~~~~~~~~~~

       product_id    aisle_id  department_id
count  100.000000  100.000000      100.00000
mean    50.500000   71.450000       10.95000
std     29.011492   39.156349        5.91245
min      1.000000    2.000000        1.00000
25%     25.750000   38.000000        7.00000
50%     50.500000   77.500000       11.00000
75%     75.250000  103.250000       16.00000
max    100.000000  134.000000       21.00000